.nftdetailpage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  .left-container {
    .image-wrapper {
      img {
        width: 100%;
      }
    }
  }
  .right-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .header-wrapper {
      padding: 27px 26px;
      background-color: rgba(229, 238, 245, 0.09);
      h2 {
        text-transform: capitalize;
        font-size: 40px;
      }
      h3 {
        font-size: 18px;
        font-weight: 100;
        margin-top: 14px;
      }
      .nft-card-content {
        background-color: rgba(229, 238, 245, 0.06);
        padding: 27px 26px;
        margin-top: 32px;
        .nft-price-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .price {
            display: flex;
            align-items: center;
          }
          .timer-content {
            display: flex;
            align-items: center;
            gap: 12px;
            .flex-content {
              display: flex;
              align-items: center;
              gap: 8px;
              img {
                width: 16px;
              }
            }
          }
        }
        .buttons {
          display: flex;
          gap: 20px;
          align-items: center;
          margin-top: 32px;

          button {
            padding: 12px 22px;
            border-radius: 0;
            width: 100%;
            img {
              width: 16px;
            }
          }
        }
      }

      .nft_card-container_controls {
        .price {
          display: flex;
          align-items: center;
          margin: 12px 0 50px;
        }
      }
    }
  }
}

.offers-wrapper {
  background-color: rgba(229, 238, 245, 0.09);
  padding: 27px 26px;
  height: 75vh;
  h2 {
    text-transform: capitalize;
    font-size: 28px;
  }

  .offer-price-para {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    h6 {
      font-size: 16px;
      margin-bottom: 38px;
      font-weight: 100;
    }
  }

  .details_offer_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    justify-content: space-between;
    height: auto;
    overflow-y: auto;
    h2 {
      text-transform: capitalize;
      font-size: 28px;
      margin-bottom: 18px;
    }
    .price {
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      .display-price {
        display: flex;
        align-items: center;
      }
      .hand-img {
        border: 1px solid #e57f8c;
        border-radius: 24px;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 4px 16px;
        img {
          width: 18px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}

.details_wrapper {
  background-color: rgba(229, 238, 245, 0.09);
  padding: 27px 26px;
  margin-top: 36px;
  h2 {
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 18px;
  }
  .details-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .content {
      p {
        font-size: 16px;
        line-height: 32px;
      }
    }
    .price-content {
      h5 {
        color: #e57f8c;
        font-size: 16px;
        text-align: right;
      }
      p {
        font-size: 16px;
        line-height: 32px;
        text-align: right;
      }
      .mentel-content {
        display: flex;
        align-items: center;
        text-align: right;
        justify-content: flex-end;
      }
    }
  }
}

.about-collection-wrapper {
  background-color: rgba(229, 238, 245, 0.09);
  padding: 27px 26px;
  margin-top: 36px;
  h2 {
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 18px;
  }
}
