:root {
  --bgColor: #242636;
  --bgColorTwo: #1e1e2c;
  --bgColorThree: #5b40ff;
  --bgColorFour: #2f80ed;
  --bgColorFive: #110f2d;
  --bgColorSix: #373943;
  --bgColorSeven: #272a34;
  --borderColor: #383940;
  --borderColorTwo: #d9d9d9;
  --textColorOne: #ffffff;
  --textColorTwo: #38f2af;
  --textColorThree: #828282;
  --textColorFour: #ff0000;
  --textColorFive: #e0e0e0;
  --textColorSix: #ccd5df;
  --textColorSeven: #acffe1;
  --textColorEighth: #959595;
  --oswaldFont: 'Oswald', sans-serif;
  --poppinsFont: 'Poppins', sans-serif;
  --montserratFont: 'Montserrat', sans-serif;
}

.App {
  max-width: 1440px;
  min-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--bgColor);
}

.App * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* COMMON STYLES */
